.website-information-title {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

.website-information {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;

  &__phone {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  &__email {
    padding-top: 0.5rem;
  }

  &__icon {
    color: royalblue;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
}
